.InfoCard {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 28rem;
    border: 2px solid rgb(99, 98, 98);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.InfoCard:hover {
    box-shadow: 0 0 32px rgb(92, 92, 92);
    cursor: pointer;
}

.InfoCard img {
    width: 100%;
    object-fit: cover;
}

.InfoCard__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}

.InfoCard__text span {
    font-size: 14px;
    color: var(--subtext);
}