.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: aliceblue;
    color: gray;
    border-radius: 16px;
    gap: 1rem;
}

.Footer img {
    width: 3rem;
    border-radius: 1rem;
}