.App {
  height: 100%;
  padding: 24px 48px;
  overflow-x: hidden;
  place-items: center;
}

hr {
  border-color: rgb(31, 30, 30);
  box-shadow: 0 0 8px rgb(214, 145, 248);
}

@media screen and (max-width: 480px) {
  .App {
    padding-left: 24px;
    padding-right: 24px;
    font-size: .8rem;
  }
}
/* * {
  border: 1px solid red;
} */